body {
    margin: 0;
}

.outerContainer {
    background-color: white;
}

.innerContainer {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    height: 40px;
}

.innerContainer .topHeaderLeftText {
    display: inline-block;
    color: #2f7cc8;
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
    padding: 4px;
}

.innerContainer .left {
    float: left;
}

.innerContainer .right {
    float: right;
}

.innerContainer .clearfix {
    clear: both;
}

.innerContainer .headerImages {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topBackground {
    width: 100%;
    position: fixed;
    z-index: -1;
}