* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

.outerContainer {
    background-color: white;
    margin: 0;
}

.outerContainer.jumbo, 
.outerContainer.jumbo .innerContainer {
    background-color: transparent;
}

.innerContainer {
    width: 960px;
    margin: 0 auto;
    background-color: white;
}

.innerContainer.topHeader {
    height: 40px;
}

.innerContainer .topHeaderLeftText {
    display: inline-block;
    color: #2f7cc8;
    font-size: 23px;
    padding: 4px;
}

.innerContainer .left {
    float: left;
}

.innerContainer .right {
    float: right;
}

.innerContainer .clearfix {
    clear: both;
}

.innerContainer .headerImages {
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topBackground {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
}

.buttonContainer {
    margin: 40px auto;
}

.button {
    display: inline-block;
    width: 240px;
    height: 40px;
    line-height: 40px;
    background-color: #44f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 0 0 40px rgba(0, 0, 0, 0.4);
    margin: 40px;
}

.innerContainer.jumbo {
    text-align: center;
    height: 500px;
}

.innerContainer.jumbo p {
    color: white;
}

.blueDivider {
    height: 100px;
    background-color: #2f7cc8;
}

.section2 {
    background-color: transparent;
}

.date, .timerLeft {
    font-family: "Open sans", sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: white;
}

.leftRow {
    display: inline-block;
    width: 39%;
    line-height: 100px;
}

.timerLeftRow {
    display: inline-block;
    width: 59%;
    line-height: 100px;
}

.timerLeftRow .column {
    display: inline-block;
}

.timerLeftRow div {
    line-height: initial;
}

.timerLeftRow .column {
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
}